n8n/workflows/order-confirmation-email.json
{
  "name": "eCommerce – Bestellbestätigung per E-Mail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-confirmed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-order-confirmed",
      "name": "Webhook: Bestellung bestätigt",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.SHOP_EMAIL ?? 'shop@demoshop.de' }}",
        "toEmail": "={{ $json.body.customerEmail }}",
        "subject": "Deine Bestellung #{{ $json.body.orderNumber }} wurde bestätigt",
        "text": "Hallo {{ $json.body.customerName }},\n\nvielen Dank für deine Bestellung!\n\nBestellnummer: {{ $json.body.orderNumber }}\nGesamtbetrag: {{ $json.body.totalAmount }} EUR\n\nWir werden dich informieren, sobald deine Bestellung versendet wurde.\n\nViele Grüße\nDein DemoShop-Team",
        "options": {}
      },
      "id": "send-confirmation-email",
      "name": "E-Mail: Bestellbestätigung senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [480, 300],
      "credentials": {
        "smtp": {
          "id": "",
          "name": "SMTP (Platzhalter)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\"}"
      },
      "id": "respond-webhook",
      "name": "Antwort senden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook: Bestellung bestätigt": {
      "main": [
        [{ "node": "E-Mail: Bestellbestätigung senden", "type": "main", "index": 0 }]
      ]
    },
    "E-Mail: Bestellbestätigung senden": {
      "main": [
        [{ "node": "Antwort senden", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateId": "ecommerce-order-confirmation"
  },
  "tags": ["ecommerce"]
}
